@property --gradient-angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
:root{
	--clr-1: #052b2f;
	--clr-2: #073438;
	--clr-3: #0e4b50;
	--clr-4: #2d8f85;
	--clr-5: #637c54;
}
h1{
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 20px;
}
h2{
	font: bold 14px sans-serif;
}
.textosPrincipales{
	font-family: sans-serif;
}
body{
	text-align: center;
	background: #46129f;
	margin: 0;
	padding: 0;
	padding-top: 80px;
	margin-top: 0;
}

.cabecera{
	background: linear-gradient(to right, #650076, #be58cf, #7f03bb);
	border: 2px solid;
	border-color: white;
	border-radius: 10px;
	padding: 3px;
	text-align: center;

	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}
.cabecera h1{
	font-size: xx-large;
	color: white;
}

.menuDos{
	background: #8296f9;
	border: 1px solid;
	border-color: white;
	padding: 5px 15px;
	text-align: left;
}
.menuDos li{
	background-color: rgba(255, 192, 203, 0.3);
	list-style: none;
	border: 2px solid;
	border-radius: 10px;
	border-image: linear-gradient(to right, #363553, #903775, #e8458b) 1;
	padding: 5px;
	font: bold 14px verdana;
	display: inline-block;
	box-shadow: 6px 6px 15px #00ffed;
	font-family: arial;
}
.seccion{
	width: 595px;
	margin: 0 auto;
	float: left;
}
.mainPrincipal{
	box-shadow: 10px 10px 20px #f00b51;
	font-weight: bold; 
	font-size: 15px;
}
article{
	background: #fa52a3;
	border: 1px solid;
	border-color: white;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 20px #00ffed;
}
time{
	color: black;
}
article footer{
	text-align: right;
	margin-top: 20px;
}
.pie{
	clear: both;
	padding: 20px;
	background: #2d3436;
	color: white;
	font-family: "Consolas", monospace;
}
img{
	width: 300px;
	display: block;
	margin: auto;
}
.loader{
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 300px;
	display: flex;
	transform-style: preserve-3d;
	transform: rotateX(-20deg);
}
.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: rotate 4s linear infinite;
}
.wrapper>.side{
	width: 110px;
	height:110px;
	position: absolute;
	inset: 0;
	margin: auto;
	transform-origin: center top;
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.wrapper>.side:nth-child(1){
	transform: rotateZ(-30deg) rotateY(90deg);
	background: conic-gradient(#019e72, #d8cce6);
}
.wrapper>.side:nth-child(2){
	transform: rotateZ(30deg) rotateY(90deg);
	background: conic-gradient(#2f2585, #f028fd);
}
.wrapper>.side:nth-child(3){
	transform: rotateX(30deg);
	background: conic-gradient(#019e72, #d8cce6);
}
.wrapper>.side:nth-child(4){
	transform: rotateX(-30deg);
	background: conic-gradient(#2f2585, #f028fd);
}
.wrapper>span.shadow{
	width: 130px;
	height: 130px;
	background-color: #5900df;
	position: absolute;
	inset: 0;
	margin: auto;
	transform: rotateX(90deg) translateZ(-40px);
	filter: blur(13px);
}
@keyframes rotate{
	0%{
		transform: rotateY(0);
	}
	100%{
		transform: rotateY(360deg);
	}
}
.menuIzquierda{
	background-color: none;
	padding: 10px;
	width: 200px;
	float: left;
}
.menuIzquierda li{
	color: white;
	background-color:  #6F3B80;
	list-style: none;
	border: 2px solid;
	border-radius:10px;
	border-image: linear-gradient(to right, #0eb9bb, #f1322d) 1;
	padding: 5px;
	font: bold 14px verdana;
	display: inline-block;
	box-shadow: 6px 6px 20px #00ffed;
	font-family: arial;
}

.columnaDerecha{
	float: right;
	margin-right: 9px;
	text-align: left;
}
.columnaDerecha article{
	border-radius: 10px;
	background-color: rgba(255, 192, 203, 0.3);
}

.cubeDos{
	float: right;
	position: relative;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animate 4s linear infinite;
}
@keyframes animate{
	0%{
		transform: rotateX(-30deg) rotateY(0deg);
	}
	100%{
		transform: rotateX(-30deg) rotateY(360deg);
	}
}
.cubeDos div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
.cubeDos div span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#c22ed0, #5ffae0);
	transform: rotateY(calc(90deg * var(--i))) translateZ(74px);
}
.topDos{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: #c22ed0;
	transform: rotateX(90deg) translateZ(74px);
}
.topDos::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: #5ffae0;
	transform: translateZ(-190px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
	0 0 200px rgba(0,255,0,0.4),
	0 0 300px rgba(0,255,0,0.6),
	0 0 400px rgba(0,255,0,0.8),
	0 0 500px rgba(0,255,0,1),
}

.cubeTres{
	float: left;
	position: relative;
	width: 70px;
	height: 70px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animate 4s linear infinite;
}
@keyframes animate{
	0%{
		transform: rotateX(-30deg) rotateY(0deg);
	}
	100%{
		transform: rotateX(-30deg) rotateY(360deg);
	}
}
.cubeTres div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
.cubeTres div span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#a9f99e, #46add5);
	transform: rotateY(calc(90deg * var(--i))) translateZ(35px);
}
.topTres{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #a9f99e;
	transform: rotateX(90deg) translateZ(35px);
}
.topTres::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
	background: #46add5;
	transform: translateZ(-80px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
	0 0 200px rgba(0,255,0,0.4),
	0 0 300px rgba(0,255,0,0.6),
	0 0 400px rgba(0,255,0,0.8),
	0 0 500px rgba(0,255,0,1),
}

.pequeño{
	float: left;
	width: 50px;
	height: 50px;
	background-color: #184e68;
	-webkit-animation: squareToCircle 2s 1s infinite alternate;
	box-shadow: 12px 12px 20px #0000008c;
}
@keyframes squareToCircle{
	0%{
		border-radius: 0 0 0 0;
		background: #184e68;
		transform: rotate(0deg);
	}
	25%{
		border-radius: 50% 0 0 0;
		background: #f02fc2;
		transform: rotate(45deg);
	}
	50%{
		border-radius: 50% 50% 50% 0;
		background: #d3208b;
		transform: rotate(135deg);
	}
	100%{
		border-radius: 50% 50% 50% 50%;
		background: #41e975;
		transform: rotate(180deg);
	}
}

.gifUno{
	float: left;
	width: 150px;
	height: 50px;
}

.circulo{
	position: absolute;
	top: 65%;
	left: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateX(65deg);
	perspective: 2000px;
	transform-style: preserve-3d;
}
.circle{
	border-radius: 200px;
	position: absolute;
	animation: circle 5s infinite;
	box-shadow: 10px 10px 20px #0000008c;
}
@keyframes circle{
	50%{
		transform: translateZ(50px);
	}
}
#circle1{
	height: 190px;
	width: 190px;
	border: 5px solid blue;
	animation-delay: .9s;
}
#circle2{
	height: 170px;
	width: 170px;
	border: 5px solid rgb(255, 0, 98);
	animation-delay: .8s;
}
#circle3{
	height: 150px;
	width: 150px;
	border: 5px solid rgb(0, 204, 255);
	animation-delay: .7s;
}
#circle4{
	height: 130px;
	width: 130px;
	border: 5px solid rgb(247, 0, 255);
	animation-delay: .6s;
}
#circle5{
	height: 110px;
	width: 110px;
	border: 5px solid rgb(180, 80, 55);
	animation-delay: .5s;
}
#circle6{
	height: 90px;
	width: 90px;
	border: 5px solid rgb(0, 255, 213);
	animation-delay: .4s;
}
#circle7{
	height: 70px;
	width: 70px;
	border: 5px solid rgb(255, 0, 221);
	animation-delay: .3s;
}
#circle8{
	height: 50px;
	width: 50px;
	border: 5px solid rgb(200, 255, 0);
	animation-delay: .2s;
}
#circle9{
	height: 30px;
	width: 30px; 
	border: 5px solid rgb(201, 152, 170);
	animation-delay: .1s;
}
#circle10{
	height: 10px;
	width: 10px;
	border: 5px solid rgb(0, 255, 13);
}

.codigoUno{
	text-align: left;
	font-family: "Consolas", monospace;
	font-size: 12px;
}
.keyword{
	color: blue;
	font-family: "Consolas", monospace;
	font-size: 12px;
}
.funcion{
	color: darkgreen;
	font-family: "Consolas", monospace;
	font-size: 12px;
}
.vector{
	color: darkred;
	font-family: "Consolas", monospace;
	font-size: 12px;
}
.columnaSubDerecha{
	font-family: "Consola", monospace;
	font-size: 13px;
}
.miniTitulo{
	font-family: "Consola", monospace;
	font-size: 13px;
}
.rojo{
	color: darkred;
	font-size: 35px;
}
.columnaSubDerechaTres{
	font-family: "Consola", monospace;
	font-weight: bold;
	color: dark;
	text-shadow: 10px 10px 5px #46add5;
}
a{
	text-decoration: none;
	color: white;
}
iframe{
	float: right;
	width: 83%; min-height: 800px;
}
.clasesRedes{
	font-family: "Consola", monospace;
	float: left;
}
.redesredes{
	font-size: 13px;
	font-family: "Consola", monospace;
	width: 500px;
	text-align: left;
}
.izquierdaredes{
	text-align: left;
}

.menuRedes{
	background: #8296f9;
	border: 1px solid;
	border-color: white;
	padding: 5px 15px;
	text-align: left;
}
.menuRedes li{
	background-color: rgba(255, 192, 203, 0.3);
	list-style: none;
	border: 2px solid;
	border-radius: 10px;
	border-image: linear-gradient(to right, #363553, #903775, #e8458b) 1;
	padding: 5px;
	font: bold 14px verdana;
	display: inline-block;
	box-shadow: 6px 6px 15px #00ffed;
	font-family: arial;
}