h1{
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 20px;
	text-align: center;
}
h2{
	font: bold 14px sans-serif;
	text-align: center;
}

img {
  border-radius: 15px;
  box-shadow: 6px 6px 15px #00ffed;
  float: left;
  width: 200px;
}

body{
	text-align: center;
	background: #46129f;
	margin: 0;
	padding: 0;
	padding-top: 80px;
	margin-top: 0;
}

article{

	font-size: 13px;
	font-family: "Consola", monospace;
	width: 500px;
	text-align: left;

	background: #fa52a3;
	border: 1px solid;
	border-color: white;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 20px #00ffed;
	overflow: hidden;
}

iframe{
	float: right;
	width: 100%; 
	min-height: 280px;
	border: none;
	border-radius: 10px;
}


section{
	font-family: "Consola", monospace;
	float: left;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
}

.libro{
	height: 350px;
}

.neurons {
	width: 93%;  /* Asegura que el article ocupe todo el espacio */
    height: 300px; /* Puedes cambiar la altura según lo que necesites */
    position: relative; /* Permite que el canvas se posicione dentro */
    overflow: hidden; /* Evita que se salga contenido */
    background-color: black; /* Fondo negro para que la animación sea visible */
    border-radius: 5px; /* Ajusta el borde si lo necesitas */
}

.neurons canvas{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 100%; /* Asegura que ocupe todo el alto */
    border-radius: 10px; /* Mantiene la curvatura del article */
}
